/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://unpkg.com/tailwindcss/dist/base.css
 */
@tailwind base;

/**
 * Remove the default box-shadow for invalid elements to prevent
 * inputs in Livewire components showing with a
 * red border by default in Firefox.
 *
 * See: https://github.com/laravel-frontend-presets/tall/issues/7
 */
 input:invalid, textarea:invalid, select:invalid {
    box-shadow: none;
}

/**
 * This injects any component classes registered by plugins.
 */
@tailwind components;

/**
 * Add your custom component classes here
 */

.btn {
    @apply px-4 py-2 focus:outline-none focus:ring focus:ring-opacity-50 disabled:opacity-50 text-center rounded;
}

.btn-sm {
    @apply text-sm px-3 py-1.5;
}

.btn-lg {
    @apply text-lg;
}

.btn-block {
    @apply block w-full;
}

.btn-primary {
    @apply bg-primary-500 text-white hover:bg-primary-400;
}

.btn-outline-primary {
    @apply bg-white border border-primary-500 text-primary-600 hover:border-primary-600 hover:text-primary-800 hover:border-r-2 hover:border-b-2;
}

.btn-secondary {
    @apply bg-secondary-500 text-white hover:bg-secondary-400;
}

.btn-outline-secondary {
    @apply bg-white border border-secondary-500 text-secondary-600 hover:border-secondary-600 hover:text-secondary-800 hover:border-r-2 hover:border-b-2;
}

.btn-success {
    @apply bg-success-500 text-white hover:bg-success-400;
}

.btn-outline-success {
    @apply bg-white border border-success-500 text-success-600 hover:border-success-600 hover:text-success-800 hover:border-r-2 hover:border-b-2;
}

.btn-danger {
    @apply bg-danger-500 text-white hover:bg-danger-400;
}

.btn-outline-danger {
    @apply bg-white border border-danger-500 text-danger-600 hover:border-danger-600 hover:text-danger-800 hover:border-r-2 hover:border-b-2;
}

.btn-warning {
    @apply bg-warning-500 text-white hover:bg-warning-400;
}

.btn-outline-warning {
    @apply bg-white border border-warning-500 text-warning-600 hover:border-warning-600 hover:text-warning-800 hover:border-r-2 hover:border-b-2;
}

.btn-muted {
    @apply bg-muted-500 text-white hover:bg-muted-400;
}

.btn-outline-muted {
    @apply bg-white border border-muted-500 text-muted-600 hover:border-muted-600 hover:text-muted-800 hover:border-r-2 hover:border-b-2;
}

.container {
   @apply mx-auto max-w-7xl px-6 lg:px-8;
}

.footer-heading {
   @apply text-base font-semibold leading-6 text-black;
}

.footer-link {
   @apply text-sm leading-6 text-gray-800 hover:text-primary-400;
}

.footer-socmed {
   @apply text-gray-800 hover:text-primary-500;
}

.form-error {
    @apply mt-1 text-red-500 text-sm;
}

.form-label {
    @apply block mb-2 text-sm font-medium text-xs uppercase text-primary-900 dark:text-white;
}

.radio-btn {
    @apply block p-8 rounded-lg cursor-pointer border;
    user-select: none;
}

.radio-btn-active {
    @apply bg-primary-200 text-primary-700 border-primary-600;
}

.radio-btn-inactive {
    @apply bg-gray-50 text-gray-600 border-gray-200 hover:bg-primary-100 hover:text-primary-600;
}


/**
 * This injects all of Tailwind's utility classes, generated based on your
 * config file.
 */
@tailwind utilities;

/**
 * Add your custom utility classes here
 */

[x-cloak] {
    display: none;
}
